fastapi
uvicorn[standard]
pydantic[email]
requests
pandas
numpy
joblib
google-genai
python-dotenv

# Auth dependencies
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
bcrypt
python-multipart

copernicusmarine
xarray
netcdf4
scipy
psycopg[binary]
